#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.tech {
  flex: 1 0 auto;      // Flex-grow, flex-shrink and flex-basis values
  // Define a max-width or basis to ensure wrapping
  max-width: 49%;
  // Other styles such as padding, margin, etc. can be added here
}

.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    font-size: 75px;
  }
}

.user-details {
  text-align: center;
  margin: 5px auto;
}