{% macro about() %}
<div class="user-details">
  <h1> Our Expertise </h1>
  <p> {{ config.extra.user_description }} </p>
</div>
<div class="user">
  <div class="tech">
    <h2>Code</h2>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-python-plain colored"></i>
    <i class="devicon-rust-plain colored"></i>
    <i class="devicon-cmake-plain colored"></i>
    <p>We have 12+ years of experience designing and developing applications using modern C++ with CMake and Python3. Since 2 years we also focus on Rust language.</p>
  </div>
  <div class="tech">
    <h2>CI /CD Tools</h2>
    <i class="devicon-gitlab-plain colored"></i>
    <i class="devicon-github-original colored"></i>
    <i class="devicon-docker-plain colored"></i>
    <p>We use Docker with Gitlab or Github to support CI/CD.</p>
  </div>
  <div class="tech">
    <h2>GUI and Visualization</h2>
    <i class="devicon-opencv-plain-wordmark colored"></i>
    <img alt="GTK" src="{{ config.base_url ~ "/img/logo-gtk.avif" }}" width="75" height="75"></img>
    <img alt="Gazebo" src="{{ config.base_url ~ "/img/gazebosim_grey.avif" }}" width="75" height="75"></img>
    <p>Robotics software development requires visualization tools for various applications such as simulation and human machine interface. We have developed GUI applications using GTK, OpenCV and Gazebo simulator.</p>
  </div>
  <div class="tech">
    <h2>Operating Systems and Platforms</h2>
    <i class="devicon-ubuntu-plain-wordmark colored"></i>
    <img alt="ROS2" src="{{ config.base_url ~ "/img/ros2.png" }}" width="75" height="75"></img>
    <img alt="Yocto" src="{{ config.base_url ~ "/img/yocto.jpeg" }}" height="75"></img>
    <img alt="Qemu" src="{{ config.base_url ~ "/img/qemu_logo_grey.avif" }}" height="75"></img>
    <p>We develop robotics software using ROS2 or from scratch. Our software is deployed under Ubuntu OS or Yocto Linux. For virtualization, Qemu is our best choice.</p>
  </div>
  <div class="tech">
    <h2>Web Applications</h2>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <i class="devicon-typescript-plain colored"></i>
    <i class="devicon-sass-original"></i>
    <i class="devicon-svelte-plain"></i>
    <i class="devicon-tailwindcss-plain"></i>
    <p>We develop web applications for robotic hub. For this, we use HTML5, CSS3, TypeScript, TailwindCSS, SvelteKit.</p>
  </div>
  <div class="tech">
    <h2>Image Processing Tools</h2>
    <i class="devicon-gimp-plain colored"></i>
    <i class="devicon-inkscape-plain colored"></i>
    <p>Gimp and Inkscape are our best of choice regarding the image processing tools.</p>
  </div>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ config.base_url ~ "/img/docker_ros2.gif" }}" />
  </div>
  <div class="contents">
    <h3> Docker Container for Gazebo based on ROS2 </h3>
    <ul>
      <li>ROS2</li>
      <li>Gazebo</li>
      <li>Docker</li>
    </ul>
    <p>Starting the ROS2 Rolling with the latest Gazebo using a Docker container on Ubuntu 22.04</p>
    <a class="project-link" href="https://gitlab.com/ywiyogo/docker-ros2-gazebo">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left" height="75">
    <img alt="" src="{{ config.base_url ~ "/img/mobile_robots.avif" }}" />
  </div>
  <div class="contents-right">
    <h3> Various Mobile Robots </h3>
    <ul>
      <li> SLAM</li>
      <li> Path Planning</li>
      <li> Navigation</li>
      <li> Simulation</li>
    </ul>
    <p>We support various mobile robot projects on multiplatform.</p>
    <a class="project-link" href="">Confidential</a>
  </div>
</div>
{% endmacro projects %}